.headerfirst {
  margin-top: 30px;
}
a.head {
  margin-right: 40px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  /* Smooth transition for color changes */
}
a.head:hover {
  color: black;
  /* Change the text color to red on hover */
}
img {
  height: 86px;
  object-fit: fill;
  /* margin-right: 200px; */
  width: 275px;
  margin: 10px;
  margin: 0px -10px;
  padding: 1px;
}
.header {
  margin: 2px;
}
